[Desktop Entry]
Name=Bauble
Version=1.0.56  # :bump
Comment=An application for managing botanical collections
Terminal=False
Icon=bauble
Type=Application
Exec=bauble
Categories=Education;
Keywords=Botany;Botanical;Collection;Database;Plants;Garden;Herbarium;Seed-bank
